<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<p>O, pardon me, thou bleeding piece of earth,
That I am meek and gentle with these butchers!
  Thou art the ruins of the noblest man
  That ever lived in the tide of times.</p>
</body>
</html>
